[submodule "QCloudMusicApi/openssl-cmake"]
	path = QCloudMusicApi/openssl-cmake
	url = https://github.com/janbar/openssl-cmake.git
[submodule "Test/libqrencode"]
	path = Test/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
[submodule "QCloudMusicApi/quazip"]
	path = QCloudMusicApi/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "QCloudMusicApi/zlib"]
	path = QCloudMusicApi/zlib
	url = https://github.com/madler/zlib.git
