[submodule "src/QCloudMusicApi/openssl-cmake"]
	path = src/QCloudMusicApi/openssl-cmake
	url = https://github.com/janbar/openssl-cmake.git
[submodule "src/Test/libqrencode"]
	path = src/Test/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
